<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DTH Backoffice</title>
    <!-- Inclure les fichiers CSS de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Inclure le fichier CSS personnalisé -->
    <link rel="stylesheet" href="{{ asset('css/backoffice.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Barre latérale -->
    <div class="sidebar">
        <h2>DTH</h2>
        <a href="{{ path('admin_donation') }}">Dernieres Donations</a>
        <a href="#">Messagerie</a>
        <a href="#">Gestion des campagnes</a>
        <a href="{{ path('admin_user')}}">Gestion des utilisateurs</a>
        <a href="#">Gestion des centres</a>
    </div>

    <!-- Content area -->
    {% block body %}{% endblock %}

    <!-- Inclure les fichiers JavaScript de Bootstrap (jQuery requis) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Inclure le bloc de scripts spécifiques au template étendant le base.html.twig -->
    {% block scripts %}{% endblock %}
</body>
</html>
