{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
 

    <body>
        <div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
            <div class="wrapper wrapper--w960">
                <div class="card card-2">
                    <div class="card-heading"></div>
                    <div class="card-body">
                        <h2 class="title">Se connecter</h2>
                        <form method="POST">
                            <div class="input-group">
                                <input class="input--style-2" type="text" placeholder="Email" name="_username">
                            </div>
                            <div class="input-group">
                                <input class="input--style-2" type="password" placeholder="Mot de passe" name="_password">
                            </div>
                            <div class="p-t-30">
                                <button class="btn btn--radius btn--green" type="submit">SE CONNECTER</button>
                            </div>
                        </form>
                        <div class="p-t-30">
                            <p>Pas encore de compte ? <a href="{{ path('register') }}">S'enregistrer</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
{% block stylesheet %} <link href="{{ asset('css/form2.css') }}" rel="stylesheet" media="all"> {% endblock %}