{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>

    {% block stylesheets %}
    <!-- Icons font CSS-->
    <link href="{{ asset('css/form.css') }}" rel="stylesheet" media="all">
    {% endblock %}

</head>

<body>
    <div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">DEVENIR VOLONTAIRE</h2>
                    <form method="POST">
                        <div class="input-group">
                            <input class="input--style-2" type="text" placeholder="Nom" name="first_name">
                        </div>
                        <div class="input-group">
                            <input class="input--style-2" type="text" placeholder="Prénom" name="last_name">
                        </div>
                        <div class="input-group">
                            <input class="input--style-2" type="text" placeholder="Age" name="age">
                        </div>
                        <div class="input-group">
                            <input class="input--style-2" type="text" placeholder="Poids (en kg)" name="weight">
                        </div>
                        <div class="input-group">
                            <input class="input--style-2" type="text" placeholder="Taille (en cm)" name="height">
                        </div>
                        <div class="input-group">
                            <input class="input--style-2" type="text" placeholder="Numéro de téléphone" name="phone_number">
                        </div>
                        <div class="input-group">
                            <input class="input--style-2 js-datepicker" type="text" placeholder="Date de naissance" name="birthday">
                            <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                        </div>
                        <div class="input-group">
                            <div class="rs-select2 js-select-simple select--no-search">
                                <select name="sexe">
                                    <option disabled="disabled" selected="selected">Sexe</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                    <option>Other</option>
                                </select>
                                <div class="select-dropdown"></div>
                            </div>
                        </div>
                        <div class="row row-space">
                        </div>
                        <div class="p-t-30">
                            <button class="btn btn--radius btn--green" type="submit">DEVENIR VOLONTAIRE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
{% endblock %}
