{% extends 'base.html.twig' %}

{% block title %}Hello CenterController!{% endblock %}

{% block body %}
<body>
    <div class="container mt-4">
        <div class="card">
            <img src="https://via.placeholder.com/400" class="card-img-top" alt="Centre de Don">
            <div class="card-body">
                <!-- Informations du centre de don -->
                <h5 class="card-title">Centre de Don XYZ</h5>
                <p class="card-text">Adresse: 123 Rue du Don, Ville</p>
                <p class="card-text">Places disponibles: 10</p>

                <!-- Bouton "Prendre Rendez-vous" -->
                <a href="#" class="btn btn-primary">Prendre Rendez-vous</a>
            </div>
        </div>
    </div>

{% endblock %}
