
{% extends 'base.html.twig' %}



{% block content %}
{% include 'home/partials/nav.html.twig' %}
<!-- Jumbotron -->
    <div class="card card-image img-fluid"
        style="background-image: url('images/blooddonate.jpg'); background-size: cover;">
        <div class="text-white text-center rgba-stylish-strong py-5 px-4">
            <div class="py-5">

                <!-- Content -->
                <h4 class="card-title h4 my-4 py-2">FAITES UN DON, SAUVEZ DES VIES !</h4>
                <h1 class="mb-4 pb-2 px-md-5 mx-md-5">DONNEZ VOTRE SANG ET INSPIREZ<br>LES AUTRES A DONNÉS.</h1>
                <a class="btn btn-danger">NOUS REJOINDRE <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <!-- Jumbotron -->

    <div class="container-fluid" id="container">
        <div class="card text-center" id="prompt">
            <div class="card-body">
                <h4 class="card-title"><strong>NOUS SOMMES LA POUR AIDER LES GENS</strong></h4>
                <p class="card-text">Vous pouvez faire un don dans l'un de nos points de collecte. Nous disposons de plusieurs
                    centres de donations
                    et nous nous rendons dans d'autres villes à diverses occasions.</p>
                <a href="#!" class="btn btn-danger">PRENDRE UN RENDEZ-VOUS</a>
            </div>
        </div>
    </div>


    <div class="container-fluid" id="container2">

        <!-- jumbotron -->
        <div class="jumbotron jumbotron-fluid text-center">
            <div class="container">
                <h3 class="display-4">COMMENT ÇA SE PASSE ?</h3>
                <hr class="dots">
                <p class="lead">Le processus de donnation, de l'arrivée au centre jusqu'au départ.</p>
            </div>
        </div>
        <!-- jumbotron -->
        <div class="container-fluid mb-5">
            <!-- Card deck -->
            <div class="card-deck">

                <!-- Card -->
                <div class="card mb-3">

                    <!--Card image-->
                    <div class="view overlay">
                        <img class="card-img-top" src="images/registration.jpg" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title">ENREGISTREMENT</h4>
                        <!--Text-->
                        <p class="card-text">À votre arrivée, vous devrez remplir un formulaire d'inscription très simple 
                            qui contient toutes les informations de contact nécessaires pour devenir donateur.
                           </p>
                    </div>

                </div>
                <!-- Card -->

                <!-- Card -->
                <div class="card mb-3">

                    <!--Card image-->
                    <div class="view overlay">
                        <img class="card-img-top" src="images/bloodcheck.jpg" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title">TEST</h4>
                        <!--Text-->
                        <p class="card-text">Une goute de sang va vous être prélevé au doigt pour être sûr que votre sang 
                            est compatible et ne présente aucun risque.</p>
                    </div>

                </div>
                <!-- Card -->

                <!-- Card -->
                <div class="card mb-3">

                    <!--Card image-->
                    <div class="view overlay">
                        <img class="card-img-top" src="images/donation.jpg" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title">DONATION</h4>
                        <!--Text-->
                        <p class="card-text">Après avoir vérifié que tout est sans risque, vous allez être conduits vers un lit où vous pourriez vous installer.
                            C'est ici que vous deviendrez un donateur !

                        </p>
                    </div>

                </div>
                <!-- Card -->

                <!-- Card -->
                <div class="card mb-3">

                    <!--Card image-->
                    <div class="view overlay">
                        <img class="card-img-top" src="images/Refreshment.jpg" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title">RAFRAÎCHISSEMENT</h4>
                        <!--Text-->
                        <p class="card-text">Vous aurez la possibilité de reprendre des forces après votre don.</p>
                    </div>

                </div>
                <!-- Card -->

            </div>
            <!-- Card deck -->
        </div>
    </div>

    <div class="container-fluid mb-5">
        <div class="row">
            <div class="col-sm-6 col-md-6">

                <!-- <img src="images/quote2.jpg" alt="" srcset="" class="img-fluid"> -->
                <section class="p-1">
                    <div class="streak grey lighten-3">
                        <div class="flex-center">
                            <ul class="mb-0 list-unstyled">
                                <li>
                                    <h2 class="h2-responsive"><i class="fas fa-quote-left" aria-hidden="true"></i> A
                                        single pint can save three lives. A single gesture can create a million smiles.
                                        <i class="fas fa-quote-right" aria-hidden="true"></i></h2>
                                </li>

                            </ul>
                        </div>
                    </div>
                </section>
                <section class="p-1">
                    <div class="streak  lighten-3">
                        <div class="flex-center">
                            <ul class="mb-0 list-unstyled">
                                <li>
                                    <h2 class="h2-responsive"><i class="fas fa-quote-left" aria-hidden="true"></i> Bring
                                        a life back to power. Make blood donation your responsibility <i
                                            class="fas fa-quote-right" aria-hidden="true"></i></h2>
                                </li>
                                <li class="mb-0">
                                    <h5 class="text-center font-italic mb-0">~ American Red Cross</h5>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-sm-6 col-md-6">
                <!-- Material form register -->
                <div class="card">

                    <h5 class="card-header danger-color white-text text-center py-4">
                        <strong>PRENDRE UN RENDEZ-VOUS</strong>
                    </h5>

                    <!--Card content-->
                    <div class="card-body px-lg-5 pt-0">

                        <!-- Form -->
                        <form class="text-center" style="color: #757575;" action="#!">

                            <div class="form-row">
                                <div class="col">
                                    <!-- First name -->
                                    <div class="md-form">
                                        <input type="text" id="materialRegisterFormFirstName" class="form-control">
                                        <label for="materialRegisterFormFirstName">Nom</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <!-- Last name -->
                                    <div class="md-form">
                                        <input type="email" id="materialRegisterFormLastName" class="form-control">
                                        <label for="materialRegisterFormLastName">Prénom</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col">
                                    <!-- Email -->
                                    <div class="md-form">
                                        <input type="email" id="materialRegisterFormEmail" class="form-control">
                                        <label for="materialRegisterFormEmail">E-mail</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <!-- Phone Number -->
                                    <div class="md-form">
                                        <input type="password" id="materialRegisterFormPhone" class="form-control"
                                            aria-describedby="materialRegisterFormPhoneHelpBlock">
                                        <label for="materialRegisterFormPhone">Numéro de téléphone</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col">
                                    <!-- Date -->
                                    <div class="md-form">
                                        <input type="date" id="materialRegisterFormDate" class="form-control">
                                        <label for="materialRegisterFormEmail">Date</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <!-- Time -->
                                    <div class="md-form">
                                        <input type="time" id="materialRegisterFormTime" class="form-control"
                                            aria-describedby="materialRegisterFormPhoneHelpBlock">
                                        <label for="materialRegisterFormPhone">Heure</label>
                           </div>
                                </div>
                            </div>

                            <div class="md-form">
                                <textarea id="materialContactFormMessage" class="form-control md-textarea"
                                    rows="3"></textarea>
                                <label for="materialContactFormMessage">Message</label>
                            </div>

                            <!-- Sign up button -->
                            <button class="btn btn-danger btn-rounded btn-block my-4 waves-effect z-depth-0"
                                type="submit">PRENDRE UN RENDREZ-VOUS</button>

                        </form>
                        <!-- Form -->

                    </div>

                </div>
                <!-- Material form register -->
            </div>
        </div>
    </div>

  
    <div class="container-fluid" id="container2">
        <!-- Jumbotron -->
        <div class="jumbotron text-center grey darken-3 white-text mx-2 mb-5">

            <!-- Title -->
            <h2 class="card-title h2">NOUS REJOINDRE ET SAUVEZ DES VIES</h2>

            <div class="pt-2">
                <button type="button" class="btn btn-danger btn-rounded">DEVENIR UN VOLONTAIRE</button>
            </div>

            <hr class="my-4 rgba-white-light">
        </div>
        <!-- Jumbotron -->
    </div>
{% endblock %}

    {% block footer %}
    {% endblock %}
