{% extends 'base.html.twig' %}

{% block title %}Notre Mission{% endblock %}


{% block body %}
    <link rel="stylesheet" href="{{ asset('css/mission.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

<div class="about-page">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="custom-title text-center mb-5">Notre Mission : Sauver des Vies</h1>

                <h2 class="titre" >Bienvenue sur notre site de don de sang</h2>
                <p class="custom-paragraph">
                    Chez <strong>DonneTonHemoglobine</strong>, nous sommes engagés dans une mission noble : sauver des vies en encourageant le don de sang. Notre organisation a été fondée avec une vision claire de contribuer positivement à la santé et au bien-être de la société en collectant des dons de sang essentiels pour ceux qui en ont besoin.
                </p>

                <h2 class="titre">Pourquoi le don de sang est-il crucial ?</h2>
                <p class="custom-paragraph">
                    Le don de sang est un acte généreux qui sauve des vies. Chaque jour, des milliers de personnes dans le monde ont besoin de transfusions sanguines pour survivre à des situations d'urgence, des interventions chirurgicales, des traitements médicaux et bien d'autres situations médicales critiques. En donnant notre sang, nous offrons un espoir de vie à ces patients.
                </p>

                <h2 class="titre">Notre engagement envers la communauté</h2>
                <ul class="liste">
                    <li class="entre"><strong>Sauver des vies</strong> : Notre objectif principal est de sauver des vies en assurant un approvisionnement constant en sang pour les hôpitaux et les centres médicaux de notre région.</li>
                    <li class="entre"><strong>Sensibilisation</strong> : Nous croyons en l'importance de sensibiliser la communauté sur l'importance du don de sang. Nous organisons régulièrement des campagnes de sensibilisation pour éduquer le public sur les avantages du don de sang et dissiper les mythes associés.</li>
                    <li class="entre"><strong>Accessibilité</strong> : Nous nous efforçons de rendre le don de sang accessible à tous. Nous accueillons chaleureusement les donneurs de sang de tous les groupes et cherchons à faciliter le processus de don pour rendre l'expérience agréable et gratifiante.</li>
                    <li class="entre"><strong>Partenariats</strong> : Nous travaillons en étroite collaboration avec les institutions médicales locales, les organisations humanitaires et les autorités sanitaires pour renforcer notre impact et étendre notre portée.</li>
                    <li class="entre"><strong>Confidentialité et sécurité</strong> : La sécurité des donneurs de sang et des receveurs est notre priorité absolue. Nous maintenons des normes strictes en matière de confidentialité des données et d'hygiène pour garantir un environnement sûr et sain pour tous.</li>
                </ul>

                <h2 class="titre">Comment vous pouvez aider ?</h2>
                <ul class="liste">
                    <li class="entre"><strong>Devenir donneur de sang</strong> : Rejoignez notre communauté de donneurs de sang et faites partie de ceux qui sauvent des vies. Chaque don compte et fait une différence significative.</li>
                    <li class="entre"><strong>Faire passer le message</strong> : Sensibilisez votre famille, vos amis et vos collègues sur l'importance du don de sang. Ensemble, nous pouvons répandre la conscience et créer un impact positif dans notre communauté.</li>
                    <li class="entre"><strong>Bénévolat</strong> : Si vous êtes passionné par notre mission, vous pouvez vous impliquer en tant que bénévole dans nos événements et campagnes. Chaque contribution est précieuse et appréciée.</li>
                </ul>

                <h2 class="titre">Rejoignez-nous dans notre mission de sauver des vies !</h2>
                <p class="custom-paragraph">
                    En donnant du sang, vous faites un don de vie. Ensemble, nous pouvons créer un avenir meilleur et plus sain pour tous. Rejoignez-nous dans notre mission de sauver des vies et contribuer à un monde où personne ne manque de sang en cas de besoin.
                </p>

                <!-- Bouton "Contactez-nous" -->
            <div class="text-center mt-5">
                {% if app.user %}
                    {# Utilisateur connecté, lien vers la page des centres #}
                    <a href="{{ path('center') }}" class="btn-custom">Voir les centres</a>
                {% else %}
                    {# Utilisateur déconnecté, lien vers la page d'inscription #}
                    <a href="{{ path('register') }}" class="btn-custom">Nous rejoindre</a>
                {% endif %}
            </div>

                <div class="text-center mt-5">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
